<section class="component">
    <div class="comp-header">
        <span>
            Ponto de Venda
        </span>
    </div>

    <span class="group-title">
        Nova Venda
    </span>

    <div class="comp-form">
        

        <div class="input-group" [style.width.rem]="30">
            <label for="ID_PESSOA">
                Cliente
            </label>

            <ng-select
            [(ngModel)]="dataRow.ID_PESSOA"
            [items]="dataLookups['PESSOAS']"
            bindLabel="DS"
            bindValue="ID"
            ></ng-select>
        </div>

        <div class="input-group" [style.width.rem]="4">
            <label for="QT_VENDA_PRODUTO">
                Quant.
            </label>

            <input type="number"
            [(ngModel)]="dataRead.QT_ITEM"
            name="QT_VENDA_PRODUTO"
            id="QT_VENDA_PRODUTO"
            >
        </div>


        <div class="input-group" [style.width.rem]="25">            
            <label for="ID_PRODUTO">
                Produto
            </label>

            <ng-select
            [(ngModel)]="dataRead.ID_PRODUTO"
            (change)="selectProduto($event)"
            [items]="dataLookups['PRODUTOS']"
            bindLabel="DS"
            bindValue="ID"
            ></ng-select>
        </div>

        <span class="group-title">
            Último Produto
        </span>

        <div class="input-group" [style.width.rem]="20">
            <label for="NM_PRODUTO">
                Descrição
            </label>

            <input type="text"
            [(ngModel)]="dataRead.NM_PRODUTO"
            name="NM_PRODUTO"
            id="NM_PRODUTO"
            readonly
            >
        </div>

        <div class="input-group" [style.width.rem]="9">
            <label for="NM_PRODUTO">
                Valor 
            </label>

            <input type="text"
            [(ngModel)]="dataRead.VL_PRODUTO"
            name="VL_PRODUTO"
            id="VL_PRODUTO"
            readonly
            >
        </div>

        <span class="group-title">
            Quant. Itens: {{ qtdeItems | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }}
        </span>

        <span class="group-title">
            Valor Total: R$ {{ vlrItems.toFixed(2) | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }}
        </span>
    </div>

    <div class="comp-list">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Qtde</th>
                    <th>Vl. Unit</th>
                    <th>Vl. Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of dataItems">
                    <td> {{i.CD_ITEM }} </td>
                    <td> {{i.CD_PRODUTO }} </td>
                    <td> {{i.NM_PRODUTO }} </td>
                    <td> {{i.QT_ITEM }} </td>
                    <td> {{i.VL_PRODUTO | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }} </td>
                    <td> {{i.VL_ITEM.toFixed(2) | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <span class="group-title">
        Finalizar (F2) | Cancelar (F3) | Remover Item (F4)
    </span>
</section>

<dialog #saveConfirm>
    <div class="dialogConfirm">
        <div class="modalForm">

            <div class="input-group">
                <label for="VL_DESCONTO">
                    Desconto
                </label>
                
                <input type="number"
                name="VL_DESCONTO"
                id="VL_DESCONTO"
                [(ngModel)]="dataRow.VL_DESCONTO"
                >
            </div>
            
            <div class="input-group">
                <label for="ID_METODO_PAG">
                    Método Pagto.
                </label>
                
                <select
                name="ID_METODO_PAG"
                id="ID_METODO_PAG"
                [(ngModel)]="dataParcela.ID_METODO_PAG"
                >
                    <option value="" hidden></option>
                    <option value="1">1-Dinheiro</option>
                    <option value="2">2-PIX</option>
                    <option value="3">3-Débito</option>
                    <option value="4">4-Crédito</option>
                    <option value="5">5-Boleto</option>
                    <option value="6">6-Transferência</option>
                </select>
            </div>
        
            <div class="input-group">
                <label for="VL_VENDA_PARCELA">
                    Valor
                </label>
            
                <input type="number"
                name="VL_VENDA_PARCELA"
                id="VL_VENDA_PARCELA"
                [(ngModel)]="dataParcela.VL_VENDA_PARCELA"
                >
            </div>
        </div>

        <div class="modalGrid">
            <table>
                <thead>
                    <tr>
                        <th>Metodo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of dataParcelas">
                        <td>{{ ID_METODO[i.ID_METODO_PAG] }}</td>
                        <td>{{i.VL_VENDA_PARCELA.toFixed(2) | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="info">
            <span class="">Valor da Venda: {{vlrItems.toFixed(2) | mask: 'separator.2' : { thousandSeparator: '.', decimalMarker: ','} }}</span>
            <br>
            <span>Valor Restante: {{(vlrItems - vlrPagto - dataRow.VL_DESCONTO).toFixed(2) | mask: 'separator.2' : {allowNegativeNumbers: true, thousandSeparator: '.', decimalMarker: ','} }}</span>
        </div>
        
        <div class="comp-tools">
            <button type="button"
            class="btn-crud"
            (click)="adicionarPagto()"
            [disabled]="(vlrItems - vlrPagto - dataRow.VL_DESCONTO == 0)"
            >
                Adicionar Pagto (F6)
            </button>

            <button type="button"
            class="btn-crud"
            (click)="salvarVenda()"
            [disabled]="!(vlrItems - vlrPagto - dataRow.VL_DESCONTO == 0)"
            >
                Finalizar Venda (F6)
            </button>

            <button type="button"
            class="btn-crud"
            (click)="cancelarPagto()"
            >
                Cancelar Pagto
            </button>
        </div>
    </div>
</dialog>