/* ================================================== */
/*           CONFIG. E TÍTULO DO COMPONENTE           */
/* ================================================== */

.dashboard-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 15.5rem;
}

.dashboard-container::-webkit-scrollbar {
    width: 6px;
}
.dashboard-container::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius: 4px;
}

.widget-header {
    padding: .5rem;
    border-bottom: 1px solid #64748b;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    color: #2c3e50;
}

/* ================================================== */
/*                CORPO DO WIDGET                     */
/* ================================================== */

.widget-body {
    display: flex;
    gap: .25rem;
    justify-content: space-between;
}

.kpi-box {
    padding: .5rem;
    display: flex;
    align-items: center;
    width: 33.33%;
}

.kpi-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: .5rem;
}


.kpi-data {
    display: flex;
    flex-direction: column;
}

.kpi-title {
    font-size: 0.85rem;
    font-weight: bold;
    color: #64748b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.25rem;
}

.kpi-value {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
}

/* ================================================== */
/*               TABELA DINÂMICA                      */
/* ================================================== */

.widget-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.75rem;
    text-align: left;

    & thead th {
        background-color: #f9fafb;
        color: #4b5563;
        padding: .35rem .5rem;
        font-weight: bold;
        border-bottom: 2px solid #e5e7eb;
        white-space: nowrap;
    }

    & tbody td {
        padding: .35rem .5rem;
        border-bottom: 1px solid #e5e7eb;
        color: #374151;
    }
}


/* ================================================== */
/*                CORES DOS WIDGETS                   */
/* ================================================== */

.text-red, .text-red td {
    color: #dc2626 !important;
}

.text-green, .text-green td {
    color: #16a34a !important;
}

.text-yellow, .text-yellow td {
    color: #d97706 !important;
}

.kpi-green {
    background-color: #dcfce7;
    color: #16a34a;
}

.kpi-red {
    background-color: #fee2e2;
    color: #dc2626;
}

.kpi-blue {
    background-color: #e0f2fe;
    color: #0284c7;
}